*{
    box-sizing: border-box;

}

 h2, h3, h4, h5, h6, span, label, a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}

a{
    text-decoration: none;
    color: inherit;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

body{
    margin: 0;
    padding: 0;
    background-color: hsl(240, 100%, 25%); 
    color: white;
    font-family: "lato";

}
header{
    width: 100%;
    max-width:100% ;
    background-color: #000000;
    padding: 1rem;
    box-sizing: border-box;

}

nav ul{
    align-items: center;
    display: flex;
    justify-content: space-between;

}

nav ul li{
    font-size: 1.2rem;

}

nav ul li::first-letter{
    text-transform: capitalize;

}

main{
    padding: 1rem 0;

}

.menu{
    text-align: center;
    border: none;
    gap: 20px; 
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.orders{
    width: 70%;
    display: grid;
    align-items: center ;

}

.orders button::first-letter{
    text-transform: capitalize;

}

.orders button{
    background-color: white;
    color:  hsl(273, 80%, 27%);
    border: none;
    border-radius: 13px;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%; 
    cursor: pointer;
    font-weight: 600;
    
}
