API_URL=http://dev-pedidos.com
DATABASE_HOST=localhost
DATABASE_DIALECT=mysql
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=orders
STRIPE_SECRET_KEY=
GOOGLE_EMAIL=manelcaimari1@gmail.com
GOOGLE_CLIENT_ID=notelavoyadecir
GOOGLE_CLIENT_SECRET=notelavoyadecir
GOOGLE_REFRESH_TOKEN=notelavoyadecir
REDIS_URL=redis://localhost:6379
JWT_SECRET=palabra-secreta